<!DOCTYPE html>
<html lang="en">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous">
        </head>
        
        <div style="background-image: url("nicolas-cage-piores-filmes.webp");
 background-color: #cccccc; !important;" th:fragment="titulo(valor)" class="jumbotron mb-0">
            <h1 class="display-4" th:text="${valor}">CageKeeper</h1>
        </div>
<body>
    <p>Lista de senhas e dados aqui</p>
</body>
</html>
